<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Time Tracker Journey{% endblock %}</title>
    
    <!-- Tailwind CSS -->
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    
    <!-- Flowbite (CDN since we're using it from within Docker) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
    
    <!-- Alpine.js (CDN) -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    
    <!-- ApexCharts (CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    
    <!-- Custom styles -->
    {% block extra_css %}{% endblock %}
</head>
<body class="bg-gray-50 dark:bg-gray-900">
    {% block body %}
    <div class="flex overflow-hidden bg-white pt-16">
        {% include "partials/sidebar.html" %}
        
        <div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64">
            <main>
                {% block content %}{% endblock %}
            </main>
            
            {% include "partials/footer.html" %}
        </div>
    </div>
    {% endblock %}
    
    <!-- Custom scripts -->
    {% block extra_js %}{% endblock %}
</body>
</html>
